/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table,
tr,
tbody,
th,
td {
    width: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: #333;
}

.invisible {
    display: none;
}

i {
    color: #999;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    position: relative;
}

header nav {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    justify-content: space-around;
}

#nav section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9em;
    padding: 1em 0;
}

#burger {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    appearance: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

#burger:active {
    border: none;
}


#burger span {
    position: absolute;
    width: 1em;
    height: 2px;
    background-color: #333;
    transition: .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#burger span:first-of-type {
    transform: translateY(-5px);
}

#burger span:last-of-type {
    transform: translateY(5px);
}

body.menuOpen #burger span {
    background-color: Crimson;
    transition: .5s ease-out;
}

body.menuOpen #burger span:first-of-type {
    transform: translatey(0) rotate(45deg);
}

body.menuOpen #burger span:nth-of-type(2) {
    opacity: 0;
}

body.menuOpen #burger span:last-of-type {
    transform: translatey(0) rotate(-45deg);
}

.not_mob {
    display: none;
}

#menu {
    border-bottom: 1px solid #e3e3e3;
}

.logo {
    width: 6em;
}

#nav section:nth-of-type(4) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 7em;
    padding: .5em 0;
}

#nav section:nth-of-type(4) div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#bar_menu {
    position: absolute;
    font-size: 1.5em;
    left: 10px;
}

#search {
    font-size: 1.5em;
    align-self: center;
    transform: scaleX(-1);
    /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image  om het icoon te spiegelen*/

}

#menu {
    font-size: 18px;
}

#menu ul li {
    position: relative;
    height: 5vh;
    width: 100%;
    padding: 2em 0em 2em 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e3e3e3;
}

#menu ul li:first-of-type {
    border: none;
}

#menu ul li a {
    display: block;
    padding: 0em 1em;
}

main {
    max-width: 1440px;
    margin: 0em auto;
}

#breadcrumb {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-between;
    padding: 1.5em .5em;
    font-size: 16px;
}

#breadcrumb i {
    margin-left: .25em;
    color: black;
}

#main-wrapper {
    width: 100%;
}

.comp {
    border-top: 1px solid #e3e3e3;
}

.comp ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.comp span {
    display: none;
}

#vndg {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    margin-top: .25em;
    color: #666;
}

.comp a {
    display: flex;
    padding: .5em;
    margin: 1em .5em;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    width: 4.7em;
    height: 4.7em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comp img {
    width: 100%;
}

#kalender {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    font-size: 18px;
}

#kalender p {
    padding: 1em 0;
}

#kalender section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid #e3e3e3;
    align-items: center;
    font-weight: 700;
    padding: 1em .5em;
}

date {
    padding: 0;
}

date i:first-of-type {
    margin-left: 10px;
}

date i:last-of-type {
    margin-right: 10px;
}

#competities_dag {
    border-bottom: 1px solid #e3e3e3;
}

.comp_titel {
    text-align: center;
    padding: 1em 0;
    font-weight: 700;
    font-size: 18px;
}

#competities_dag tr {
    border-top: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#competities_dag tr td {
    padding: .5em 0;
}

#competities_dag tr td:first-of-type {
    padding-left: .75em;
    color: #999;
}


#competities_dag tr td:last-of-type {
    padding: 0;
}

#competities_dag tr td:last-of-type a {
    padding: .5em;
}

#competities_dag tr p {
    text-transform: uppercase;
}

#competities_dag tr img {
    width: 24px;
    height: 24px;
}

#competities_dag #ronde {
    text-transform: uppercase;
    font-weight: 700;
    justify-content: flex-start;

}

#competities_dag #ronde th {
    width: auto;
    padding: .5em 0;

}

#competities_dag .desktop_teamname {
    display: none;
    text-transform: initial;
}

footer {
    margin: 3em 0;
    padding-left: 1em;
    position: relative;

}

#footer_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em 0;
}

footer a {
    color: #333;
}

#copy,
#copy a {
    color: #999;
}

#to-top {
    position: absolute;
    top: 0;
    right: 1.5em;
}

#to-top i {

    font-size: 25px;
    color: #ee3224;
}


/* wedstrijd.html */
#back {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e3e3e3;
}

#back p {
    padding: 1em 0;
    font-size: 18px;
    text-align: center;
}

#back a {
    position: absolute;
    left: .5em;
    font-size: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#back i {
    color: black;
}

#lil_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e3e3e3;
    padding: 1em 0;
}

#score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#score #result {
    font-weight: 700;
    font-size: 25px;
    color: black;
}

#score ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

#score img {
    width: 65px;
    margin-bottom: .5em;
}

#score ul p {
    text-transform: uppercase;
    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#buttons button {
    width: 50%;
    border: 1px solid #000;
    background-color: #fff;
    padding: 1em;
    font-size: 16px;
    color: #333;
    transition: 1s;
}

#buttons button:last-of-type {
    border-left: 0px;
}

#buttons .not-selected {
    background-color: #b5b0b0;
    color: #000;
}

#top-info {
    padding: 1em;
    text-align: center;
}

#top-info span {
    font-weight: 700;
}

#wed-info img {
    width: 100%;
    margin: 0em auto;
}

#tijdlijn tr {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0;
}

#tijdlijn tr td:first-of-type {
    padding-left: 1em;
}

.only_desktop {
    display: none;
}

#wed-stats h2 {
    text-align: center;
    padding: 1em 0;
}

#wed-stats h2 {
    text-align: center;
    padding: 1em 0;
    font-size: 18px;
}

#wed-stats tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

#wed-stats tr:nth-child(even) {
    margin-bottom: .5em;
}

#wed-stats th {
    border-top: 1px solid #e3e3e3;
    padding-top: .5em;
    font-weight: 100;
}

.opacity {
    opacity: 0;
}

#opstelling_wrapper {
    display: flex;
    flex-direction: row;
}

#opstelling img {
    width: 100%;
    margin-top: 1em;
}


#opstelling .badge_wrapper img {
    width: 65px;
    height: 65px;
}

#home,
#away,
#bank_home,
#bank_away {
    display: flex;
    flex-direction: column;
    width: 49%;
}

#home,
#bank_home {
    border-right: 1px solid #e3e3e3;
    margin-left: 1em;
}

#away,
#bank_away {
    text-align: right;
    margin-right: 1em;
}

#home .badge_wrapper,
#away .badge_wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;
}

#away .badge_wrapper {
    justify-content: flex-end;
}

#home .badge_wrapper p,
#away .badge_wrapper p {
    font-weight: 700;
    text-transform: uppercase;
}

#home ul li,
#away ul li,
#bank_home ul li,
#bank_away ul li {
    display: flex;
    flex-direction: row;
    margin: 1em 0em;
}

#home ul li p:first-of-type,
#away ul li p:first-of-type,
#bank_home ul li p:first-of-type,
#bank_away ul li p:first-of-type {
    color: #b5b0b0;
    width: 1em;
}

#away ul li,
#bank_away ul li {
    flex-direction: row-reverse;
}

#away ul li p:first-of-type,
#bank_away ul li p:first-of-type {
    margin-left: .5em;
}

#home ul li p:first-of-type,
#bank_home ul li p:first-of-type {
    margin-right: .5em;
}

.wissel {
    justify-content: space-between;
}

.wissel section {
    display: flex;
    flex-direction: row;
}

#away .wisselspelers section,
#bank_away .wisselspelers section {
    display: flex;
    flex-direction: row-reverse;
}

.wissel .wisselspelers {
    flex-direction: column;
}

#away .wissel section:last-of-type,
#bank_away .wissel section:last-of-type {
    flex-direction: row-reverse;
    align-self: flex-end;
}

#home .wissel section:last-of-type .wisseltijd,
#bank_home .wissel section:last-of-type .wisseltijd,
#away .wissel section:last-of-type .wisseltijd,
#bank_away .wissel section:last-of-type .wisseltijd {
    color: #333;
}

.wissel img {
    height: 28px;
}

#captain {
    background-color: red;
    padding: 0em .25em;
    color: #fff;
    border-radius: 10px;
}

#bank_btn {
    width: 100%;
    height: 2em;
    border: 1px solid #e3e3e3;
    font-weight: 700;
}

#bank_wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.BankOpen {
    display: flex;
    flex-direction: row;
}

/* Tablet ----------- */
@media (min-width : 768px) {

    /* Styles */
    #nav {
        justify-content: flex-start;
    }

    #nav section {
        margin-right: 2em;
    }

    #nav section:first-of-type {
        margin-left: 1.5em;
    }

    .logo {
        width: 5em;
    }

    .not_mob {
        display: block;
    }

    #header_menu {
        display: flex;
        align-items: center;
        width: 17em;
    }

    #header_menu ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #burger {
        display: none;
    }

    #nav section:nth-child(3) {
        display: flex;
        align-items: center;
    }

    #nav section:nth-child(3) img {
        max-width: 6em;
    }

    #breadcrumb {
        justify-content: center;
    }

    #breadcrumb p:last-of-type {
        display: none;
    }

    #breadcrumb p:first-of-type {
        font-size: 1.75em;
    }

    #main_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #widget {
        width: 29%;
    }

    #widget ul li {
        height: 3em;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #widget ul .subitem p {
        margin-left: 2.5em;
        color: #666;
    }

    #widget ul li:nth-of-type(5) {
        color: #E61E14;
        border-left: 3px solid #E61E14;
    }

    #widget ul li:nth-of-type(5) p {
        color: #E61E14;
    }

    #widget ul li p {
        margin-left: 1.5em;
        margin-top: 0em;
        color: #333;
    }

    #widget p {
        margin-top: 3em;
        color: #999;
    }

    #widget p i {
        margin-left: .5em;
    }

    #info_wrapper {
        width: 69%;
    }

    .only_mob {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: row;
        height: 20em;
        margin-bottom: 0em;
    }

    footer section {
        display: flex;
        flex-direction: column;
        margin-right: 2em;
    }

    #footer-column {
        padding: 0em;
    }

    footer section a {
        display: block;
        margin-bottom: .5em;
    }

    footer section h3 {
        margin-bottom: 1em;
        color: #999;
        font-size: .75em;
        text-transform: uppercase;
    }

    footer section:nth-of-type(3) a {
        display: flex;
        flex-direction: row;
    }

    footer section:nth-of-type(3) a i {
        margin-right: 1.5em;
        width: 1.25em;
    }

    #copy {
        position: absolute;
        left: 1em;
        right: 1em;
        bottom: .5em;
        margin-right: 0em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Desktops en laptops ----------- */
@media (min-width : 1224px) {

    /* Styles */
    #nav {
        justify-content: space-around;
    }

    #nav section:nth-of-type(4) {
        min-width: 9em;
    }

    #nav section:nth-of-type(4) div:first-of-type img {
        width: 1.75em;
    }

    #nav section:nth-of-type(5){
        display: flex;
        align-items: center;
    }}

    #nav section:nth-of-type(5) img {
        width: 4em;
        border: 1px solid #999;
        padding: .5em;
        border-radius: .5em;
    }

    #widget {
        width: 19%;
    }

    #info_wrapper {
        width: 79%;
    }

    .not_desktop {
        display: none;
    }

    #widget ul li:hover {
        border-left: 3px solid #E61E14;
    }

    #widget ul li:hover p {
        color: #E61E14;
    }

    #competities_dag tr td:nth-of-type(5) {
        font-weight: 700;
        color: #999;
    }

    #competities_dag tr td:nth-of-type(5):hover {
        color: #E61E14;
    }

    #competities_dag tr td:nth-of-type(2) {
        width: 50%;
    }

    #competities_dag tr td:nth-of-type(3) {
        padding-right: 3em;
        width: 150%;
    }

    #competities_dag tr td:nth-of-type(7) {
        width: 150%;
    }

    #competities_dag tr td:nth-of-type(8) {
        width: 50%;
    }

    #competities_dag .desktop_teamname {
        display: block;
    }

    #competities_dag .teamname {
        display: none;
    }

    span.only_desktop {
        display: inline-block;
    }

    .only_desktop {
        display: block;
    }

    .badge_wrapper section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1em;
    }

    #away .badge_wrapper section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 1em;
        margin-left: 0em;
    }



    #home .badge_wrapper p:last-of-type,
    #away .badge_wrapper p:last-of-type {
        text-transform: initial;
        font-weight: 400;
        color: #999;
        font-size: .75em;

    }

    #copy {
        left: 3em;
        right: 3em;
    }

    footer {
        justify-content: space-around;
    }

    footer section:first-of-type {
        margin-left: 3em;
    }

    footer section {
        height: 1em;
    }
}
