/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.none {
    display: none;

    transition: 1s;
}

i {
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}

header nav {
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    justify-content: space-around;
    padding: 1em 0em;
}

#left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9em;
}

#burger {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    appearance: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#burger span {
    position: absolute;
    width: 1em;
    height: 2px;
    background-color: black;
    transition: .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#burger span:first-of-type {
    transform: translateY(-5px);
}

#burger span:last-of-type {
    transform: translateY(5px);
}

body.menuOpen #burger span {
    background-color: Crimson;
    transition: .5s ease-out;
}

body.menuOpen #burger span:first-of-type {
    transform: translatey(0) rotate(45deg);
}

body.menuOpen #burger span:nth-of-type(2) {
    opacity: 0;
}

body.menuOpen #burger span:last-of-type {
    transform: translatey(0) rotate(-45deg);
}

#menu {
    border-bottom: 1px solid #e3e3e3;
}

#logo {
    width: 6em;
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 7em;
}

#right div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bar_menu {
    position: absolute;
    font-size: 1.5em;
    left: 10px;
}

#search {
    font-size: 1.5em;
    align-self: center;

}

#breadcrumb {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    justify-content: space-between;
    padding: 1.5em 1em;
}

.comp {
    border-top: 1px solid #e3e3e3;
}

.comp ul {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.comp span {
    display: none;
}

#vndg {
    display: inline-block;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
}

.comp a {
    display: flex;
    padding: .5em;
    margin: 1em .5em;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    width: 4.7em;
    height: 4.7em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comp img {
    width: 100%;
}

#kalender {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #e3e3e3;
}

#kalender p {
    padding: 1em 0em;
}

date {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid #e3e3e3;
    align-items: center;
    font-weight: 700;
}

date p {
    padding: 0;
}

date i:first-of-type {
    margin-left: 10px;
}

date i:last-of-type {
    margin-right: 10px;
}

.comp_titel {
    text-align: center;
    padding: 1em 0em;
    font-weight: 700;
    border-top: 1px solid #e3e3e3;
}

#wedstrijd_comp_vandaag li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #e3e3e3;
}

#wedstrijd_comp_vandaag p {
    text-transform: uppercase;
    border-top: 1px solid #e3e3e3;
}

#wedstrijd_comp_vandaag img {
    width: 50px;
}

#ronde {
    text-transform: uppercase;
    border-top: 1px solid #e3e3e3;

}
